 <!-- FOOTER -->
 <footer id="footer">
    <div class="container">
         <div class="row" style="text-align:center">

              <div class="col-md-4 col-sm-6">
                   <div class="footer-info">
                        <div class="section-title">
                             <h2><i>7Formation</i></h2>
                        </div>
                        <address>
                             <p>Adresse : Avenue Hédi Nouira Immeuble ‘La Couronne’ Etage 9 B n°6, Sfax.</p>
                        </address>

                        
                   </div>
              </div>

              <div class="col-md-4 col-sm-6">
                   <div class="footer-info">
                        <div class="section-title">
                             <h2><i>Contact</i></h2>
                        </div>
                        <address>
                             <p> Tel :(+216)70 03 22 16 /( +216)28 833 952</p>
                             <p><a href="mailto:contact@7formation.tn"> Email :contact@7formation.tn</a></p>
                        </address>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    
                        <div class="footer_menu">
                         <div class="copyright-text"> 
                              <p>Copyright &copy; 2020 7Formation</p>
                              
                             
                         </div>
                             
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-12">
                   <div class="footer-info newsletter-form">
                        <div class="section-title">
                             <h2></h2>
                        </div>
                        <div>
                         <ul class="social-icon">
                              <li><a href="https://www.facebook.com/7formationsfax" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                              <li><a href="#" class="fa fa-instagram"></a></li>
                              <li><a href="#" class="fa fa-linkedin"></a></li>
                              
                         </ul>
 
                         
                        </div>
                   </div>
              </div>
              
         </div>
    </div>
</footer>

