 <!-- CONTACT -->
 <section id="contact">
    <div class="container">
         <div class="row">

              <div class="col-md-6 col-sm-12">
                   <form id="contact-form" role="form" action="" method="post">
                        <div class="section-title">
                             <h2>Contacter Nous <small>7Formation</small></h2>
                        </div>

                        <div class="col-md-12 col-sm-12">
                             
              
                             <input type="text" class="form-control" placeholder="Objet" name="Objet" id="Objet" required="" >

                             <textarea class="form-control" rows="6" placeholder="A la fin de message indique ton email ou numéro de téléphone" name="message"  id="message" required="" ></textarea>
                        </div>

                        <div class="col-md-4 col-sm-12">
                             <input (click)="envoie()" type="submit" class="form-control" name="Envoyer" value="Envoyer">
                        </div>

                   </form>
              </div>

              

         </div>
    </div>
</section>       
