 <!-- ABOUT -->
 <section id="about">
   <div class="container">
     <div class="row">

       <div class="col-md-6 col-sm-12">
         <div class="about-info">
           <h2 style="text-align: center; color:#0969d1; font-family :Montserrat Alternates Sans-serif ;"><i>Suivre une démarche pédagogique moderne et efficace.</i></h2>

           <figure>
             <span><i class="fa fa-tags"></i></span>
             <figcaption>
               <h3><i>Test de Niveau</i></h3>
               <p><i>Mise en place une série de tests à pour objectif d'identifier un niveau avant et aprés la formation.</i></p>
             </figcaption>
           </figure>

           <figure>
             <span><i class="fa fa-book"></i></span>
             <figcaption>
               <h3><i>Cours sur des supports</i></h3>
               <p><i>les cours sont consignés sur des supports qui sont remis aux participants , des exercices pratiques et tests intermédiaires.</i></p>
             </figcaption>
           </figure>

           <figure>
             <span><i class="fa fa-users"></i></span>
             <figcaption>
               <h3><i>Formateurs hautement qualifiés</i></h3>
               <p><i>Experts , Enseignants Universitaires , des Maitres assistants et des professeurs ayant une expérience dans le domaine d'enseignement.</i></p>
             </figcaption>
           </figure>

           <figure>
            <span><i class="fa fa-bookmark"></i></span>
            <figcaption>
              <h3><i>Travaux Pratiques sur des cas concrets</i></h3>
              <p><i>Chaque formation est organisée avec des travaux pratiques basés sur des cas concrets</i></p>
            </figcaption>
          </figure>
         </div>
       </div>

       <div class="col-md-offset-1 col-md-4 col-sm-12">
         <div class="entry-form">
           <form action="#" method="post">
             <h2><i>Catalogue De Formation</i></h2>
             
             
             <img src="assets/images/catalogue7F.jpg" width="150" height="150" align ="middle"/>

             

             <button  type="submit" class="submit-btn form-control" id="form-submit" (click)="forcerTelechargement()"> <span class="glyphicon glyphicon-download-alt"></span> télécharger</button>
           </form>
         </div>
       </div>

     </div>
   </div>
 </section>

 <!-- citation -->
 <section id="citation">
   <div class="row">

     <div class="owl-carousel owl-theme citation-slider">
       <div class="item item-second">
         <div class="caption">
           <div class="container">
             <div class="col-md-12 col-sm-12" style="text-align: center; ">
               <h1></h1>
               <h1
                 style="text-align: center;font-size: larger;font-family :Montserrat Alternates Sans-serif ;font-size: 200%;">
                 <b>« LA FORMATION REVELE L’APTITUDE ET LE TERRAIN REVELE LA COMPETENCE »

                 </b></h1>


             </div>
           </div>
         </div>
       </div>


       <div class="container" style="height: 800px ;">
         <div class="row">
           <div class="col-md-12 col-sm-12">
             <div class="section-title">
               <div class="button">
                 <span class="line-1"></span>
                 <span class="line-2"></span>
                 <span class="line-3"></span>
                 <span class="line-4"></span>
                 <span class="line-5"></span>
                 <span class="line-6"></span>
                 <i> Formation</i>
                

                 
               </div>
             </div>
           </div>
           <div id="bl" style="visibility: visible ; text-align: center;"><font size=+2 color=red> <span class="glyphicon glyphicon-star"></span>Formation</font></div>
           
          <br/>
          <br/>
           <!-- <div class="container" style="height: 100vh ;" >   -->
           <!-- <div class="row" style="display: flex; flex-wrap: wrap;"> -->

             <div class="col-lg-4" *ngFor="let formation of listFormation" [id]="formation.id"
               style="margin-bottom: 15rem;">
               <div class="flip-card">
                 <div class="flip-card-inner">
                   <div class="flip-card-front">
                     <article class="card" style="position:relative ; z-index:1;">
                       <header>
                         <a>
                           <h2
                             style="text-align: center; color:#0969d1; font-family :Montserrat Alternates Sans-serif ;">
                             <i>{{formation.nom}}</i></h2> 
                             
                         </a>
                         
                       </header>

                       <img src={{formation.img}} alt="formation" />
                       <div class="content">

                         <a class="badge badge-danger" style="padding: 6px;">{{formation.niveau}}</a>
                         <a class="badge badge-danger" style="padding: 6px;">{{formation.type}}</a>
                         <a class="badge badge-danger" style="padding: 6px;">{{formation.cat}}</a>
                         <a class="badge badge-danger" style="padding: 6px;">{{formation.duree}}</a>

                       </div>
                       <footer style="background-color:#ddc704 ;">

                       </footer>
                     </article>
                   </div>
                   <div class="flip-card-back">

                     <article class="card" style="overflow: auto; position:relative ; z-index:1;">



                       <legend
                         style="text-align: center; color:#0969d1; font-family :Montserrat Alternates Sans-serif ;">
                         <i>Objectifs</i></legend>
                       <ul>
                         <li>{{formation.objectifun}}</li>
                         <li>{{formation.objectifd}}</li>
                         <li>{{formation.objectift}}</li>
                         <li>{{formation.objectifm}}</li>


                       </ul>

                       <legend
                         style="margin-top: 2rem; text-align: center; color:#0969d1; font-family :Montserrat Alternates Sans-serif ;">
                         <i>Public Cible</i></legend>
                       <ul>
                         <li>{{formation.cibleun}}</li>
                         <li>{{formation.cibled}} </li>

                        
                      
                       </ul>
                       <footer style="background-color:white ;">
                        <a  (click)="detailFormation(formation.id)" class="btn btn-primary" style="float: right; padding-left:8px;"><i class="glyphicon glyphicon-zoom-in"></i> Détail</a>

                       </footer>





                     </article>



                   </div>
                 </div>
               </div>







             <!-- </div> -->
             <!-- </div> -->


           </div>
         </div>

        