

<section id="about">
    <div class="container">
         <div class="row">

          
          <div class="col-md-3 col-sm-6">
               <figure>
          
               <img src="assets/images/p2.jpg" class="img-responsive" alt="">
                </figure>
              </div>

              <div class="col-md-8">
                  
                    
                        <figure>
                             
                             <figcaption>
                                  <h3  class="heading" style="font-family :Montserrat Alternates Sans-serif ;"> MOTS DE FONDATEUR </h3>
                                  <p style="font-family: Georgia serif;" class="subheading">
                                   Je m’appelle <u> HABIB JARBOUI </u>, je suis coach certifié (diplômé de la haute école de de Coaching Paris), formateur conseil en développement personnelle, professeur de mathématiques et <u>créateur du cabinet  7formation </u>. 

 Mon parcours professionnel en France m’a permis d’avoir une expérience ( très réussite) dans le domaine de coaching et d’enseignement . 
J’ai voulu mettre mes compétences et mes savoirs faire à profit de mes compatriotes.
Ma vocation est d’aider les entreprises à adaptée les nouvelles méthodes approuvées aux normes internationales avec le développement continu des compétences, des personnes et des équipes.
Mon équipe et moi avons cherché à adaptée les nouvelles méthodes approuvées aux normes internationales aux besoins du (marché) Tunisien.
<u>Je m'engage à vous offrir le mieux de ce que peut exister dans le domaine de formation à l'échelle internationale.</u>
Pour garantir un résultat et un transfert réel des apprentissages, il y a beaucoup de choses qui doivent être prises en compte.
Etre un bon formateur, c'est être un agent de changement, ce n’est pas juste donner une présentation en public, c’est bien plus que cela !
<blockquote>Former n'est pas qu’enseigner... Former, c'est modifier des comportements.</blockquote>


                                     
                             </figcaption>
                        </figure>
                       
                   </div>
             

              
       
          
              
            
  </div>
         
    </div>
  </section>

  <!-- HOME -->
<section id="sommes">
     <div class="row">
 
               <div class="owl-carousel owl-theme sommes-slider">
                    <div class="item item-first">
                         <div class="caption">
                              <div class="container">
                                   <div class="col-md-12 col-sm-12">
                                        <h1>QUI SOMMES NOUS?</h1>
                                        <h3> 7formation est un cabinet de conseil et de formation professionnelle dans les domaines de développement des systèmes d’informations, développement personnels, ressources humaines, bureautique, langues, infographie, multimédia, marketing, commerce, comptabilité et audit… 
                                             7formation a le plaisir de vous propose une offre vaste et diversifiée de formations adaptées à tout public (étudiant,demandeur de formation, employé, chef d’entreprise, cadrant,…etc) et sur mesure pour répondre aux besoins des entreprises (inter et intra).</h3>
                                       
                                       
                                   </div>
                              </div>
                         </div>
                    </div>
 
                    
               </div>
     </div>
 </section>
 <section>
 <div class="container">
     <div class="row">
        
          
             <div>
          <figure>
               
               <figcaption>
                    <h3 style="font-family :Montserrat Alternates Sans-serif ;"><u>NOTRE STRATEGIE</u></h3>
                    <h4 style="text-align: center; color:#0969d1;" >Suivre une démarche pédagogique moderne et efficace vis à vis de la formation professionnelle ou particulier </h4>
                    <ul>
                    <li>Mise en place, pour toutes nos offres, une série de tests non pas visant à sanctionner l'apprenant mais ayant pour objectif d'identifier un niveau avant et après la formation et surtout révéler à l'apprenant la marge de progrès qu'il a développée.</li>
                    <li>Les cours sont consignés sur des supports qui sont remis aux participants; des exercices pratiques et tests intermédiaires viennent garantir la bonne compréhension de l'enseignement.</li>
                    <li>Chaque formation est organisé avec des travaux pratiques basés sur les cas concrets.</li>
                    <li>Exigeant des formations de très haute qualité </li>
                    <li>Coopération avec des formateurs hautement qualifié , des Experts, des Enseignants Universiatire, des Maitres assistants et des professeurs ayant une grande expérience dans le domaine d’enseignement et la pédagogie.</li>

                    </ul>
               </figcaption>
          </figure>
         </div>
     </div>
</div>
<div class="col-md-2 mb-2">
     <a  (click)="retour()" class="btn btn-success" style="float: right; padding-left:12px; "><i class="	glyphicon glyphicon-menu-left"></i> Retour</a>
     </div>
 </section>